.table {
  width: 800px;
  margin: 0 auto;
  border-spacing: 0;
  border-radius: 15px;
  overflow: hidden;
}
.head th {
  border: 1px solid rgb(7, 0, 105);
  color: white;
  background-color: rgba(7, 0, 105, 0.5);
}
.head th:first-child {
  border-top-left-radius: 15px;
}
.head th:last-child {
  border-top-right-radius: 15px;
}
.strings td {
  border: 1px solid rgb(7, 0, 105);
}
.strings td:first-child {
  text-transform: capitalize;
}
.strings:last-child td:first-child {
  border-bottom-left-radius: 15px;
}
.strings:last-child td:last-child {
  border-bottom-right-radius: 15px;
}
.strings:nth-child(2n) {
  background-color: rgba(221, 224, 243, 0.8);
}
.strings {
  transition: background-color 0.3s;
  background-color: rgb(188, 230, 204);
  color: rgba(7, 0, 105, 0.8);
}
.strings:hover {
  background-color: rgba(49, 12, 153, 0.596);
  color: rgb(0, 255, 0);
}
